.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.6rem;
}

.logo a{
    color: var(--primaryClr);
    font-weight: bold;
    transition: .4s;
}

.logo a:hover{
    letter-spacing: 2px;
}
span{color: var(--titleClr);}

.menuLinks{
    color: var(--txtClr);
    transition: color .3s ease-in-out, .3s font-weight ease;
    margin-right: 4.6rem;
}

.menuLinks:hover{
    font-weight: bold;
    color: var(--titleClr);
}

.signIn{
    margin-left: 13rem;
    color: var(--titleClr);
    font-weight: bold;
    position: relative;
}

.signIn::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    transition: background .5s ease;
    bottom: -3px;
    left: 0;
}
.signIn:hover::after{background: var(--primaryClr);}

.signUpBtn{
    background-image: linear-gradient(to right, #525fe1, #2e3899);
    color: #fff;
    height: 4.8rem;
    width: 12.4rem;
    border-radius: 13px;
    padding: 1.3rem 3rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 1.8rem;
    transition: all 0.3s ease-in-out;
}

.signUpBtn:hover {
    box-shadow: 0 0 20px rgba(82, 95, 225, 1), 0 0 40px rgba(46, 56, 153, 1);
    transform: scale(1.05);
  }
  
.toggle{
    display: none;
}
